<!DOCTYPE html>
<html lang="en">

<head>
  <meta
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover"
    name="viewport"
  >
</head>

<body>
  <main role="main" class="container">
    <%- body %>
  </main>
</body>

</html>
